
<div class="container">

	<!--TABELA DE ARQUIVOS -->
	<div class="card border border-info rounded">
		<div class="card-header">
			<h4>#Arquivos</h4>
			<div class="alert alert-success col-sm-8" role="alert" ng-show="dados.showrespostadeacao">
      			{{dados.mensagemrespostadeacao}}
      			<button type="button" class="close" ng-click="fecharMsgRespostaAcao()" >
				    <span  >&times;</span>
				  </button>
   			</div>
   			
   			<div class="alert alert-danger" role="alert" ng-show="apresentarMsgErro()">
			  {{dados.mensagemrespostadeacao}}
			</div>
		</div>
		<div class="card-body">
			<div class="form-group row">
				<label for="Contato" class="col-sm-2 col-form-label">Carregar Arquivo</label>
				<div class="col-sm-6">
					<form name="uploadform" class="my-form" >
						<input type="file" file-model="file" name="file" id="file" required/>
					 
					 	<button type="button" class="btn btn-primary" ng-click="executaruoloadfile()" ng-show="uploadform.$valid">GO</button>
					
					</form>
					 
				</div>

			</div>
			<div ng-include="'tb_arquivos.html'"></div>
		</div>
	</div>

</div>